
@{ Layout = null; }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
</head>
<body>
    <div>
        <h3>Add</h3>
        @using (Html.BeginForm("Add", "Dict", FormMethod.Post))
        {
<div>
    <p>Name: <input type="text" id="Name" name="Name" /></p>
    <p>Number: <input type="number" id="Number" name="Number"></p>
    <p><input type="submit"></p>
</div>}
    </div>
</body>
</html>
