<tr>
    <td><p>@Model.Id</p></td>
    <td><p>@Model.Name</p></td>
    <td><p>@Model.Number</p></td>
    <td><p><a href="/Dict/Delete/@Model.Id">Delete</a></p></td>
    <td><p><a href="/Dict/Update/@Model.Id">Update</a></p></td>
</tr>